

.kite{
    margin-left: auto;
    text-transform: uppercase;
}
.bg5{
    background: url(image1.jpg);
    height: 30vh;
    width: 100%;
    background-position: right;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pd-1{
    padding: 3rem 2rem;
}
.card-body{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 3%;
    margin-top: 3rem;

}
.text-center{
    text-align: center !important;
}
.form{
    margin-bottom: 1rem;
}
.control{
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.control2{
    width: 100%;
    padding: 0.375rem 0.75rem;
    
    border-radius: 5px;
}
.pd-2{
    padding-top: 2rem;
}
.circle{
    border-radius: 50% !important;
}
.text-white{
    color: white !important;
}
.fluid{
    max-width: 100%;
}
.footer{
    background-color: black;
    height: auto;
    color: white;
    text-align: center;
    padding: 1rem 0px 1.5rem 0px;

}