
.kite{
    margin-left: auto;
    text-transform: uppercase;
}
.bg5{
    background: url(../Images/image1.jpg);
    height: 30vh;
    width: 100%;
    background-position: right;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-center{
    text-align: center !important;
}
.text-white{
    color: white !important;
}
.bg-dark{
    background-color: #343a40!important;
}
.list-group-item{
    padding: 0.75rem 1,25rem;
    border: 1px solid rgba(0,0,0,.125);
    
    
}
.list-group{
    padding-left: 0px;
}
.card {
    border: 1px solid rgba(0,0,0,.125);
}
.mg-1{
    margin-top: 3rem;
}
.pd-1{
    padding: 0.5rem;
    padding-left: 1rem;
}
.accordion{
    border:#444
}
.accordion-header{
    background-color: #333;
}
.text-color{
    color: gray;
}
.footer{
    background-color: black;
    height: auto;
    color: white;
    text-align: center;
    padding: 1rem 0px 1.5rem 0px;

}
.pd-2{
    padding-bottom: 3rem;
}
